apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
        - name: log-output
          image: skinatro/log_output:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT 
              value: "5000"
